In [2]:
import pandas as pd
import numpy as np

In [ ]:
csv_training_data = pd.read_csv("../data/train_data.csv")
csv_training_data.head()

                                                text  sentiment
0  lol get ideas far advance even june yet need t...          1
1                                worst headache ever          0
2  sad wont see miss already yeah thats perfect c...          0
3                           doesnt know spell conked          1
4  quotso stand one knows us wont get used wont g...          0

In [4]:
with open('emb_test.npy', 'rb') as f:
    embeddings_arr = np.load(f)

In [8]:
for row in embeddings_arr:
    print(len(row))
    break

768

In [10]:
embedddings_df = csv_training_data.copy(deep=True)
embedddings_df['embeddings'] = embedddings_df.apply(lambda row: embeddings_arr[row.name], axis=1)

In [16]:
embedddings_df

,text,sentiment,embeddings
0,lol get ideas far advance even june yet need t...,1,"[-0.011714689, 0.047031093, -0.03471053, 0.012..."
1,worst headache ever,0,"[0.017082984, -0.031662744, -0.0011064939, 0.0..."
2,sad wont see miss already yeah thats perfect c...,0,"[0.028080447, -0.048339564, -0.037557725, 0.01..."
3,doesnt know spell conked,1,"[0.041773327, -0.11632217, -0.014832271, 0.047..."
4,quotso stand one knows us wont get used wont g...,0,"[0.006859572, 0.018458897, -0.020173764, -0.06..."
...,...,...,...
1279995,new blog morning,1,"[0.056156434, 0.020694433, 0.0152613195, -0.00..."
1279996,omg amazing job jonas,1,"[0.011772567, 0.06473066, -0.018455321, 0.0229..."
1279997,got home meeting talking endlessly one coolest...,1,"[-0.0075863306, -0.028213395, -0.026884371, -0..."
1279998,bought chocolate bars quot wins free barquot l...,0,"[0.06809199, 0.005429207, -0.0048561823, 0.043..."
1279999,said hope dm email sunday,1,"[-0.0016016586, -0.009920002, -0.03474642, 0.0..."

In [17]:
embedddings_df.to_feather('train_embeddings.feather', compression='zstd')